{% extends 'base.html' %} {% block css %}
<style type="text/css">
div {
    margin-bottom: 15px;
    padding: 4px 12px;
}

.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}
</style>
{% endblock %} {% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5 ">
        <div class="card" style="width: 500px;height:auto;padding: 10px;">
            <div class="info">
                We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            </div>
            <div class="info">
                If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
            </div>
        </div>
    </div>
</div>
{% endblock %}
