{% extends 'base.html' %}
{% block css %}
    <style type="text/css">
    #id_new_password1 {
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
    width: 100%;
    color: #555;
    }
    #id_new_password2{
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
    width: 100%;
    color: #555;
    }
    .form-group {
    padding-bottom: 7px;
    margin: 27px 0 0 0;
    position: relative;
    box-sizing: border-box;
    }
    </style>
{% endblock%}
{% block content %} {% if validlink %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5 " style="width: 60%">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Change password</h4>
                    <!-- <p class="category">Complete your profile</p> -->
                </div>
                <div class="card-content">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group label-floating is-empty">
                            {{ form.as_p }}
                        </div>
                        <center>
                        <button type="submit" class="btn btn-primary">Change password</button>
                        </center>
                    </form>
                {% else %}
                    <p class="alert alert-warning">
                        The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endif %} {% endblock %}