{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Page Not Found - Airbnb</title>
    <link href="{% static 'css/404.css'  %}" media="all" rel="stylesheet" type="text/css">
   
   </head>

<body>
    <header class="page-container page-container-responsive space-top-4">
        <a href="https://www.airbnb.com/" class="icon icon-airbnb link-icon h2">
            <span class="screen-reader-only">
        Airbnb
      </span>
        </a>
    </header>
    <div class="page-container page-container-responsive">
        <div class="row space-top-8 space-8 row-table">
            <div class="col-5 col-middle">
                <h1 class="text-jumbo text-ginormous">Oops!</h1>
                <h2>We can't seem to find the page you're looking for.</h2>
                <h6>Error code: 404</h6>
                <ul class="list-unstyled">
                    <li>Here are some helpful links instead:</li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login/">Login</a></li>
                    <li><a href="/help/">Help</a></li>
                </ul>
            </div>
            <div class="col-5 col-middle text-center">
                <img src="{% static 'img/404.gif' %}" alt="Girl has dropped her ice cream." width="313" height="428">
            </div>
        </div>
    </div>
</body>

</html>
