{% extends 'base.html' %}{% load static %} {% block css%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<style type="text/css">
div.container {
    width: 80%;
}
.selected {
    background-color: yellow !important;
}
 .indexModal {
        display: none;
        /* Hidden by default */
        position: absolute !important;
        /* Stay in place */
        z-index: 5;
        /* Sit on top */
        /* Location of the box */
        left: 0;
        top: 0;
        height: 100% !important;
        width: 100% !important;
        /* Full width */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
</style>
{% endblock %} {% block title %}
<title>
    Scan Details | AUMFOR
</title>
{% endblock%} 
{% block javascript %}
<script type="text/javascript" src="{% static 'js/scanDetail.js'  %}"></script>

<script type="text/javascript">
$(document).ready(function() 
{
    var scan_id = {{ scanid }};
    get_data_Datatable(scan_id);
});
</script>
{% endblock%} 

{% block model %}
<div id="modelScan" class="indexModal" role="dialog">
        <!-- Modal content -->
        <center>
            <div class="modal-content">
         <!-- <span class="close">&times;</span> -->
                <p> Please wait while generating report </p>
            </div>
        </center>
</div>
{% endblock %}

{% block content %} 
{% if scanid %}
<div>
    <div class="">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4>Scan Details</h4>
                <div style="text-align: left;position:relative; clear: right; width:35%; margin-top: 10px;">
                    {% if dump %}
                        <p> Dump : {{dump}} </p>
                    {% endif %}
                    <p> Process :
                        <a id="processName" style="text-decoration: underline;cursor:pointer" onclick="setDemo()"></a>
                    </p>
                </div>
                <div style="text-align: right; clear: left; width:30%; position: relative;float: right;margin-top: -60px;">
                    <p> Scaned Through <b><span id="rowsCount"></span> </b> Antivirus</p>
                    <p> Total Detected Threat : <span id="detectedThread"></span></p>
                </div>
            </div>
            <div class="card-content table-responsive">
                <div class="col-md-12">
                    <form id="frm-example" action="" method="POST">
                        <div style="float: right !important;">
                            <button type="submit"><img src="{% static 'img/printer.png' %}" alt="print report" style="width:25px !important; height: 25px !important;"></button>
                        </div>
                        <table id="example" class="display" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Anti Virus Name</th>
                                    <th>Detected Virus</th>
                                    <th>Anit Virus version</th>
                                    <th>Result</th>
                                    <th>Update</th>
                                    <th data-toggle="tooltip" title="Scaned Process Id">Scaned PID</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Anti Virus Name</th>
                                    <th>Detected Virus</th>
                                    <th>Anit Virus version</th>
                                    <th>Result</th>
                                    <th>Update</th>
                                    <th>Scaned PID</th>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form action="/processdetail/" method="POST" id=form style="display: none;"> {% csrf_token %}
        <input type="hidden" name="setPid" id="setPid" value="">
        <input type="hidden" name="setDumpid" id="setDumpid" value="">
        <input type="hidden" name="dumpName" id="dumpName" value="">
    </form>
</div>
{% else %}
<script type="text/javascript">
window.location.assign("/scandata/");
</script>
{% endif %} {% endblock%}
